<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/datastream.css">
    <title>Document</title>

</head>
<body>
    <section id="hero">
    <div class="container">
        <label for="nav__toggle--input" class="nav__toggle--label">
            <span class="nav__toggle">
                <i class="fas fa-bars"></i>
            </span>
        </label>
        <input type="checkbox" name="navToggle" id="nav__toggle--input" class="nav__toggle--input">
        <main class="main__content drop-in">
            <h1 id="title" class="drop-in" style="color: white;text-align: center;    font-size: 35px;">Device Data</h1>
            <header class="main--header"></header>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" style="width: 71.1rem;">
                    <thead>
                        <tr>
                            <th>Battery Level</th>
                            <th>Device ID</th>
                            <th>First sensor temperature</th>
                            <th>Route from</th>
                            <th>Route to</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" style="width: 71rem;"> 
                    <tbody>
                        {% for data in streaming_data %}
                        <tr>
                            <td>{{data.Battery_Level}}</td>
                            <td>{{data.Device_Id}}</td>
                            <td>{{data.First_Sensor_temperature}}</td>
                            <td>{{data.Route_From}}</td>
                            <td>{{data.Route_To}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    
        <nav class="sidebar">
            <header class="sidebar--header">
                <span class="avatar">
                    <i class="fas fa-user-circle"></i>
                </span>
                {% if user %}
                <section class="user__info">
                    <h4 class="userName">{{user["Username"]}}</h4>
                    <span class="userMail">{{user["Email"]}}</span>
                </section>
                {% else %}
                <section class="user__info">
                    <h4 class="userName">Login required</h4>
                </section>
                {% endif %}
            </header>
            <ul class="navigation navigation--primary">
                <li class="nav__item">
                    <a href="/" class="nav__link">
                        <i class="fa-solid fa-house"></i>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/shipment" class="nav__link">
                        <i class="fa-solid fa-truck-fast"></i>
                        <span class="text">Create Shipment</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/datastream" class="nav__link">
                        <i class="fa-sharp fa-solid fa-network-wired"></i>
                        <span class="text">Device Data</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/show-shipment" class="nav__link">
                        <i class="fa-solid fa-database"></i>
                        <span class="text">Shipments</span>
                    </a>
                </li>
            </ul>
            <hr class="decorative__line--break">
            <ul class="navigation navigation--secondary">
                {% if user %}
                <li class="nav__item">
                    <a href="/auth/logout" class="nav__link">
                        <i class="fa fas fa-right-from-bracket"></i>
                        <span class="text">Log Out</span>
                    </a>
                </li>
                {% else %}
                <li class="nav__item">
                    <a href="/auth/login" class="nav__link">
                        <i class="fa fas fa-right-from-bracket"></i>
                        <span class="text">Log In</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/signup" class="nav__link">
                        <i class="fa fas fa-right-from-bracket"></i>
                        <span class="text">Register</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    </section>
<script src="/static/js/datastream.js"></script>
</body>
</html>